form {
    margin-top: 10%;
    label {
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.apartments-list {
    margin-top: 4%;
    .btn-container {
        text-align: right;
    }
    p.description {
        text-align: justify;
    }
}