<form (submit)="onFilterSubmit($event)" [formGroup]="filterForm">
  <div class="form-row shadow-sm">
    <div class="form-group col-md-2">
      <div class="row">
        <div class="form-group col-md-12">
          <label>Площадь</label>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <input type="number" class="form-control" formControlName="area_from" placeholder="от">
        </div>
        <div class="form-group col-md-6">
          <input type="number" class="form-control" formControlName="area_to" placeholder="до">
        </div>
      </div>
    </div>

    <div class="form-group col-md-2"></div>

    <div class="form-group col-md-2">
      <div class="row">
        <div class="form-group col-md-12">
          <label>Кол-во комнат</label>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <input type="number" class="form-control" placeholder="от" formControlName="bedrooms_count_from">
        </div>
        <div class="form-group col-md-6">
          <input type="number" class="form-control" placeholder="до" formControlName="bedrooms_count_to">
        </div>
      </div>
    </div>

    <div class="form-group col-md-2"></div>

    <div class="form-group col-md-2">
      <div class="row">
        <div class="form-group col-md-12">
          <label>Этаж</label>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <input type="number" class="form-control" placeholder="от" formControlName="floor_from">
        </div>
        <div class="form-group col-md-6">
          <input type="number" class="form-control" placeholder="до" formControlName="floor_to">
        </div>
      </div>
    </div>

    <div class="form-group col-md-2">
      <div class="row">
        <div class="form-group col-md-12">
          <label>&nbsp;</label>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-12">
          <button type="submit" class="btn btn-primary">Показать</button>
        </div>
      </div>
    </div>

  </div>
</form>


<div class="apartments-list" *ngFor="let apartment of (apartments | async)">
  <div class="row">
    <div class="col-md-4">
      <img [src]="apartment.images[0]" alt="..." class="img-thumbnail">
    </div>
    <div class="col-md-8">
      <h2>{{ apartment.street || apartment.name }}</h2>
      <p class="description">{{ apartment.short_description }}</p>
    </div>
    <div class="container btn-container">
      <a routerLink="/apartments/{{ apartment.url_id }}" class="btn btn-primary">Подробнее</a>
    </div>
  </div>
</div>
