<div class="container">
  <img [src]="(apartment | async)?.images[0] || ''" class="img-fluid" alt="Responsive image">

  <table class="table">
    <tbody>
      <tr>
        <th>Адрес</th>
        <td>{{ (apartment | async)?.address }}</td>
      </tr>
      <tr>
        <th>Этаж</th>
        <td>{{ (apartment | async)?.level || 'нет данных' }}</td>
      </tr>
      <tr>
        <th>Кол-во комнат</th>
        <td>{{ (apartment | async)?.rooms_count_from || 'нет данных' }}</td>
      </tr>
      <tr>
        <th>Площадь</th>
        <td>{{ (apartment | async)?.area_from || 'нет данных' }}</td>
      </tr>
    </tbody>
  </table>

</div>