<div class="d-flex flex-column justify-content-center wrapper">
  <p class="text-center font-italic">
    В нашей базе <a routerLink="apartments">{{ count | async }}</a> квартир, мы поможем 
    <a routerLink="apartments">подобрать</a> подходящую именно для вас.
  </p>
  <p class="text-right">
    <a class="btn btn-primary" routerLink="apartments">Перейти к списку</a>
  </p>
</div>